@model IEnumerable<TP02_SWII.Models.Container>

@{
    ViewBag.Title = "Home Page";
}

<h2>BLs & Containers</h2>
<table class="table">
    <h3>Containers</h3>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bl.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bl.Consignee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bl.Navio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tamanho)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bl.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bl.Consignee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bl.Navio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamanho)
            </td>
            <td align="right">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
    @*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
    
<table class="table">
    <h3>BLs</h3>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bl.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bl.Consignee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bl.Navio)
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var bl in ViewBag.ListaBL)
    {
        <tr>
            <td>
                @bl.Id
            </td>
            <td>
                @bl.Consignee
            </td>
            <td>
                @bl.Navio
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right">
                @Html.ActionLink("Edit", "Edit", new { id = bl.Id }) |
                @Html.ActionLink("Details", "Details", new { id = bl.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = bl.Id })
            </td>
        </tr>

    }
</table>
